body {
}

.levels {
    width: 10vw;
    position: absolute;
    overflow: hidden;
    height: 100vh;
    top: 0;
    left: 90vw;

    display: flex;
    flex-direction: column;
}

.level {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    margin: auto;
    border: black 2px solid;

}

#scene-presentator {
    width: 90vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;

    perspective: 1000px;
}

.double-faced {
    transform-style: preserve-3d;
    transition: all 1.0s linear;

}
.flipped .double-faced {
    transform: rotateY(180deg);

}
.face {
    width: calc(90vw - 2vh);
    height: 98vh;
    padding: 1vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    transition: all 1.0s linear;
    backface-visibility: hidden;


}
#scene-double-card.flipped .plateau {
}
.plateau {
}
#presentation {
    transform: rotateY(180deg);
    background: white;
    background-position-y: bottom;
    background-position-x: center;
    display: flex;
    flex-direction: column-reverse;
}
.continue {
    text-align: right;
}

#jeter-marqueur-initiative {
    width: 1vh;
    height: 1vh;
    position: absolute;
    padding: 1vh;
    border-radius: 0.5vh;
    border: solid 1px black;
    top: 56vh;
    left: 80vw;
    background: darkseagreen;
}

.section {
    background: lightgrey;
    padding: 1vh;
    margin-bottom: 1vh;
    overflow: scroll;
    white-space: nowrap;
}

.section.success {
    color: green;
}
.section.fail {
    color: red;
}

.combat {
    min-height: 8vh;

    white-space: nowrap;
    overflow: scroll;
}

.actions {
    min-width: 1vh;
    height: 9vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    border-radius: 0.5vh;

    /*display: inline-block;*/
}

.actions#technique {
    background: gold;
}
.actions#sort {
    background: pink;
}
.actions#jeter {
    background: darkseagreen;
}
.actions#frapper {
    background: indianred;
}
.actions#bloquer {
    background: cornflowerblue;
}

.action {
    display: inline-block;
    margin: 0.5vh 1vh 0.5vh 1vh;

    background: #FFFFFF66;
    height: 7vh;
    width: 7vh;
    border-radius: 0.5vh;
    opacity: 1;

    transition-property: all;
    transition-duration: 1s;
}
.action:last-child {
 /*   margin-right: 1vh;*/
}
.action.en-construction {
    width: 0vh !important;
    margin-left: 0vh !important;
    margin-right: 0vh !important;
    opacity: 0; !important;
}

.action.assiette {
}

.action.assiette.assiette-hover {
    background: white;
    box-shadow: white 0px 0px 60px;
}
#message {
    height: 2vh;
}
#pause {
    height: 16vh;
    display: flex;
}
#attributs {
    width: 13vw;
}
#pause-actions {
    width: 13vw;

}


#inventaire {
    height: 9vh;
}
#combat {
    height: 40vh;
}
#resultat {
    height: 9vh;
}
#tresor {
    height: 5vh;
}

.section:last-child {
    margin-bottom: 0;
}

.marqueurs {
    position: absolute;
    width: 7vh;
    height: 7vh;

}
.marqueur {
    display: inline-block;
    position: absolute;
    width: 3vh;
    height: 3vh;
    border-radius: 1vh;
    text-align: center;
    border: 1px solid black;
}
.marqueur.marqueur-attaque {
    background: indianred;
    left: -1vh;
    top: -1vh;
}
.marqueur.marqueur-defense {
    background: cornflowerblue;
    right: -1vh;
    top: -1vh;
}
.marqueur.marqueur-vitesse {
    background: darkseagreen;
    left: -1vh;
    bottom: -1vh;
}
.marqueur.marqueur-mana {
    background: pink;
    right: -1vh;
    bottom: -1vh;
}

.objet {
    height: 7vh;
    width: 7vh;
    border-radius: 0.5vh;
}
.objet.dragging {
    border: 2px solid red;
    position: absolute;
    z-index: 1;
}

.evidence {
    /*overflow: visible;*/
}
.evidence::after {
    box-shadow: rebeccapurple 0px 1vh 1vh;
    opacity: 0;
    animation: pulse 2s infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    animation: pulse 1s infinite;

}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* inventaire */
.epee {
    background-image: url("img/epee.png");
    background-size: cover;
}

.lance {
    background-image: url("img/lance.avif");
    background-size: cover;
}

.bouclier {
    background-image: url("img/bouclier.jpeg");
    background-size: cover;
}
.manuelAventurier {
    background-image: url("img/grimoire.png");
    background-size: cover;
}

.potion {
    background-image: url("img/potion.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.potion.force {
    background-image: url("img/potion-force.png");
}
.potion.endurance {
    background-image: url("img/potion-endurance.png");
}
.potion.vitesse {
    background-image: url("img/potion-vitesse.png");
}
.potion.mana {
    background-image: url("img/potion-mana.png");
}
.rune {
    background-image: url("img/rune.png");
    background-size: cover;
}

/* présentation */
#presentation.skeleton {
    background-image: url("img/skeleton.jpeg");
    background-size: cover;
}
#presentation.zombie {
    background-image: url("img/zombie.jpeg");
    background-size: cover;
}
#presentation.spider {
    background-image: url("img/spider.jpeg");
    background-size: cover;
}
#presentation-message {
    display: inline-block;
    background: bisque;
    border-radius: 2vh;
    padding: 1vh;
}

/* attributs du héro */
.attribut {
    border: solid 1px black;
    border-radius: 1vh;
    height: 2vh;
    display: block;
    width: 10vw;
    text-align: right;
    padding: 0.5vh;
    position: relative;
    margin-bottom: 0.5vh;
    background: white;
}

.attribut :first-child {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.attribut :last-child {
    display: inline-block;
    position: absolute;
    right: 1vw;
}

.force {
    background-image: url("img/force.png");
}
.endurance {
    background-image: url("img/armure.png");
}
.vitesse {
    background-image: url("img/vitesse.png");
}
.mana {
    background-image: url("img/mana.png");
}