html {
    overscroll-behavior: none;
    overflow: hidden;
}
body {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100em;
}
body span {
    font-size: initial;
}
body * {
    user-select: none;
}

.levels {
    width: 10vw;
    position: absolute;
    overflow: hidden;
    height: 100em;
    top: 0;
    left: 90vw;
}

.thumbnail {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    margin: auto;
    border: black 2px solid;
    margin: 1em 0;
    background-size: cover;
}
.thumbnail.skeleton {
    background-image: url("img/thumbnail_skeleton.jpeg");
}
.thumbnail.zombie {
    background-image: url("img/thumbnail_zombie.jpeg");
}
.thumbnail.spider {
    background-image: url("img/thumbnail_spider.jpeg");
}
.thumbnail.ghost {
    background-image: url("img/thumbnail_ghost.jpeg");
}
.thumbnail.hag {
    background-image: url("img/thumbnail_hag.jpeg");
}
.thumbnail.ghoul {
    background-image: url("img/thumbnail_ghoul.jpeg");
}
.thumbnail.scarecrow {
    background-image: url("img/thumbnail_scarecrow.jpeg");
}
.thumbnail.werewolf {
    background-image: url("img/thumbnail_werewolf.jpeg");
}
.thumbnail.banshee {
    background-image: url("img/thumbnail_banshee.jpeg");
}
.thumbnail.vampire {
    background-image: url("img/thumbnail_vampire.jpeg");
}

#overlay {
    display: none;
    width: 90vw;
    height: 100em;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0);
    transition: all 1.0s linear;
    z-index: 2;
}
#overlay.actif {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
}
#details {
    width: 70vw;
    height: 80em;
    overflow: scroll;
    margin: auto;
    background: bisque;
    border-radius: 3em;
    text-align: justify;
    padding: 2em;
}

#scene-presentator {
    width: 90vw;
    height: 100em;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;

    perspective: 1000px;
}

.double-faced {
    transform-style: preserve-3d;
    transition: all 1.0s linear;

}
.flipped .double-faced {
    transform: rotateY(180deg);

}
.face {
    width: calc(90vw - 2em);
    height: 98em;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    transition: all 1.0s linear;
    backface-visibility: hidden;


}
#scene-double-card.flipped .plateau {
}
.plateau {
}
#presentation {
    transform: rotateY(180deg);
    background: white;
    background-position-y: bottom;
    background-position-x: center;
    display: flex;
    flex-direction: column-reverse;
}
.continue {
    text-align: right;
    display: inline-block;
    float: right;
}
.section.fail .continue {
    visibility: hidden;
}

#marqueur-distance {
    width: 1em;
    height: 1em;
    position: absolute;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px black;
    top: 56em;
    left: 80vw;
    background: wheat;
}

#marqueur-melee {
    width: 1em;
    height: 1em;
    position: absolute;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px black;
    top: 66em;
    left: 80vw;
    background: wheat;
}

#marqueur-sort {
    width: 1em;
    height: 1em;
    position: absolute;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px black;
    top: 46em;
    left: 80vw;
    background: wheat;
}

#marqueur-technique {
    width: 1em;
    height: 1em;
    position: absolute;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px black;
    top: 36em;
    left: 80vw;
    background: wheat;
}

.actions-libelle {
    position: absolute;
    opacity: 0.3;
    font-size: 20px;
    font-weight: 900;
    text-align: end;
}

.section {
    background: lightgrey;
    padding: 1em;
    margin-bottom: 1em;
    overflow: scroll;
    white-space: nowrap;
}

.section.success {
    color: green;
}
.section.fail {
    color: red;
}

.combat {
    min-height: 8em;

    white-space: nowrap;
    overflow: scroll;
}

.actions {
    min-width: 1em;
    height: 9em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    overflow-x: scroll;
    overflow-y: visible;
    /*display: inline-block;*/
}

.actions#technique {
    background: wheat;
}
.actions#sort {
    background: wheat;
}
.actions#jeter {
    background: wheat;
}
.actions#frapper {
    background: wheat;
}

.action {
    display: inline-block;
    margin: 0.5em 1em 0.5em 1em;

    background: #FFFFFF66;
    height: 7em;
    width: 7em;
    border-radius: 0.5em;
    opacity: 1;

    transition-property: all;
    transition-duration: 1s;
}
.action:last-child {
 /*   margin-right: 1em;*/
}
.action.en-construction {
    width: 0em !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
    opacity: 0; !important;
}

.action.assiette {
}

.action.assiette.assiette-hover {
    background: white;
    box-shadow: white 0px 0px 60px;
}
#message {
    height: 2em;
}
#pause {
    height: 16em;
}
#attributs {
    width: 20vw;
}
#pause-actions {
    width: 13vw;

}


#inventaire {
    height: 9em;
}
#combat {
    height: 40em;
}
#total {
    height: 10em;
}
#resultat {
    height: 9em;
}
#tresor {
    display: none;
}
.section.success #tresor {
    display: block;
}
.section.success #tresor .action.fantome {
    width: 4em;
    height: 4em;
}
.section.success #tresor .action.fantome * {
    width: 4em;
    height: 4em;
}

.section:last-child {
    margin-bottom: 0;
}

.marqueurs {
    position: relative;
    width: 0em;
    height: 0em;

}
.marqueur {
    display: inline-block;
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 1em;
    text-align: center;
    border: 1px solid black;
}
.incantation .marqueur {
    background: white !important;
    border-style: dashed;
}
.marqueur.ignore {
    background: white !important;
    border-style: dashed;
}
.marqueur.marqueur-attaque {
    background: indianred;
    left: -1em;
    top: -1em;
}
.marqueur.marqueur-attaque-distance {
    background: url("img/colimateur.png");
    background-size: contain ;
}
.marqueur.marqueur-defense {
    background: cornflowerblue;
    left: 5em;
    top: -1em;
}
.marqueur.marqueur-vitesse {
    background: darkseagreen;
    left: -1em;
    top: 5em;
}
.marqueur.marqueur-mana {
    background: pink;
    left: 5em;
    top: 5em;
}
.marqueur.marqueur-niveau {
    top: 5em;
    height: 2em;
    left: 2em;
    border-radius: 50% 50% 0 0;
    background: white;
}
.marqueur.marqueur-charme {
    background: url(img/potion.png);
    background-size: contain;
    top: 1.5em;
    left: 1.5em;
    border-radius: 50%;
}
.marqueur.marqueur-enchantement {
    background: url(img/rune.png);
    background-size: contain;
    top: 1.5em;
    left: 1.5em;
    border-radius: 50%;
}


.objet {
    height: 7em;
    width: 7em;
    border-radius: 0.5em;
}
.objet.dragging {
    border: 2px solid green;
    position: absolute;
    z-index: 1;
}

.evidence {
    /*overflow: visible;*/
}
.evidence::after {
    box-shadow: rebeccapurple 0px 0px 1em 0.5em;
    opacity: 0;
    animation: pulse 2s infinite;
    content: "";
    animation: pulse 1s infinite;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.attribut.evidence::after {
    position: absolute;
    top: 0;
    left: 0;

}
.evidence-hover::after {
    box-shadow: darkred 0px 0px 1em 1em;
}

.marqueur-error {
    box-shadow: darkred 0px 0px 1em 1em;
}
.marqueur-success {
    box-shadow: darkgreen 0px 0px 1em 1em;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.potion {
    background-image: url("img/potion.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.potion.force {
    background-image: url("img/potion-force.png");
}
.potion.endurance {
    background-image: url("img/potion-endurance.png");
}
.potion.vitesse {
    background-image: url("img/potion-vitesse.png");
}
.potion.mana {
    background-image: url("img/potion-mana.png");
}
.rune {
    background-image: url("img/rune.png");
    background-size: cover;
}

/* présentation */
#presentation.skeleton {
    background-image: url("img/skeleton.jpeg");
    background-size: cover;
}
#presentation.zombie {
    background-image: url("img/zombie.jpeg");
    background-size: cover;
}
#presentation.spider {
    background-image: url("img/spider.jpeg");
    background-size: cover;
}
#presentation.ghost {
    background-image: url("img/ghost.jpeg");
    background-size: cover;
}
#presentation.hag {
    background-image: url("img/hag.jpeg");
    background-size: cover;
}
#presentation.ghoul {
    background-image: url("img/ghoul.jpeg");
    background-size: cover;
}
#presentation.scarecrow {
    background-image: url("img/scarecrow.jpeg");
    background-size: cover;
}
#presentation.werewolf {
    background-image: url("img/werewolf.jpeg");
    background-size: cover;
}
#presentation.banshee {
    background-image: url("img/banshee.jpeg");
    background-size: cover;
}
#presentation.vampire {
    background-image: url("img/vampire.jpeg");
    background-size: cover;
}
#presentation-message {
    display: inline-block;
    background: bisque;
    border-radius: 2em;
    padding: 1em;
}
.presentation-alerte {
    color: red;
    display: block;
}

/* attributs du héro */
.attribut {
    border: solid 1px black;
    border-radius: 1em;
    height: 2em;
    display: block;
    width: 18vw;
    text-align: left;
    padding: 0.5em;
    position: relative;
    margin-bottom: 0.5em;
    background: white;
}

.attribut :first-child {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.attribut :last-child {
    display: inline-block;
    position: absolute;
    right: 1vw;
}

.attribut[tdd-attribut="force"] {
    background: indianred;
}
.force {
    background-image: url("img/force.png");
}
.attribut[tdd-attribut="endurance"] {
    background: cornflowerblue;
}
.endurance {
    background-image: url("img/armure.png");
}
.attribut[tdd-attribut="vitesse"] {
    background: darkseagreen;
}
.vitesse {
    background-image: url("img/vitesse.png");
}
.attribut[tdd-attribut="mana"] {
    background: pink;
}
.mana {
    background-image: url("img/mana.png");
}

/* inventaire */
.epee {
    background-image: url("img/epee.png");
    background-size: cover;
}

.lance {
    background-image: url("img/lance.avif");
    background-size: cover;
}

.bouclier {
    background-image: url("img/bouclier.jpeg");
    background-size: cover;
}
.livre {
    background-image: url("img/livre0.png");
    background-size: cover;
}
.manuelAventurier {
    background-image: url("img/livre0.png");
    background-size: cover;
}
.manuelBarbare {
    background-image: url("img/livre1.png");
    background-size: cover;
}
.manuelMage {
    background-image: url("img/livre2.png");
    background-size: cover;
}
.charme {
    background-image: url("img/pentacle.png");
    background-size: cover;
}
.manuelVoleur {
    background-image: url("img/livre3.png");
    background-size: cover;
}
.dagueRunique {
    background-image: url("img/dague.png");
    background-size: cover;
}
.hacheDeGlace {
    background-image: url("img/hacheDeGlace.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.bouclierDeGlace {
    background-image: url("img/bouclierDeGlace.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.hacheDeFeu {
    background-image: url("img/hacheDeFeu.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.bouclierDeFeu {
    background-image: url("img/bouclierDeFeu.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.javelot {
    background-image: url("img/javelot.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.parcheminProjectileMagique {
    background-image: url("img/projecto.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
.parcheminProtection {
    background-image: url("img/protecto.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
.parcheminMurDeGlace {
    background-image: url("img/iceWall.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
.parcheminBouleDeFeu {
    background-image: url("img/fireBall.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
.parcheminRapidite {
    background-image: url("img/speed.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
.batonDeMagicien {
    background-image: url("img/staff.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.familierDuMagicien {
    background-image: url("img/faucon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.error {
    border: solid 2px red;
}
.position-success {
    border-color: green;
}
.position-fail {
    border-color: red;
}
.position-unknown {
    display: none;
}

#caracteristique-hero {
    position: relative;
    background: url("img/avatar.jpeg");
    width: 7em;
    height: 7em;
    background-size: contain;
    border-radius: 1em;
    float: left;
    display: inline-block;
    color: black;

}

#caracteristique-hero .marqueur-attaque.marqueur-attaque-distance {
    left: 5em;
    top: -1em;
    background: gold;
}
#caracteristique-hero .marqueur-attaque {
    left: 5em;
    top: 5em;
    background: gold;
}
#caracteristique-hero .marqueur-defense {
    left: -1em;
    top: 5em;
    display: none;
}
#caracteristique-ennemi {
    position: relative;
    width: 7em;
    height: 7em;
    background-size: contain;
    border-radius: 1em;
    float: right;
    display: inline-block;
    color: black;
}
#caracteristique-ennemi .marqueur-attaque {
    left: -1em;
    top: 5em;
    background: gold;
}
#caracteristique-ennemi .marqueur-defense {
    left: -1em;
    top: -1em;
    background: gold;
}

.marqueur.marqueur-feu {
    background: url("img/feu.png") !important;
    background-size: cover !important;
    top: 1.5em;
    left: 5em;
}
.marqueur.marqueur-glace {
    background: url("img/glace.png") !important;
    background-size: cover !important;
    top: 1.5em;
    left: -0.5em;
}

.action.hero-special {
    height: 5em;
    width: 5em;
    opacity: 0;
}
.action.hero-special.evidence {
    opacity: 1;
}
.action.hero-special.acquis {
    opacity: 1;
}
.hero-special[tdd-special="rapide"] {
    background-image: url("img/vitesse.png");
    background-size: cover;
}
.hero-special[tdd-special="initie"] {
    background-image: url("img/mana.png");
    background-size: cover;
}
.hero-special[tdd-special="heroic"] {
    background-image: url("img/armure.png");
    background-size: cover;
}
.objet[tdd-cible="initie"] {
    background-image: url("img/mana.png");
    background-size: cover;
}
.objet[tdd-cible="rapide"] {
    background-image: url("img/vitesse.png");
    background-size: cover;
}
.objet[tdd-cible="heroic"] {
    background-image: url("img/armure.png");
    background-size: cover;
}

.colimateur {
    background: url("img/coolimateur.png");
    background-size: contain;
    width: 2em;
    height: 2em;
    display: inline-block;
    position: absolute;
}